* {
  padding: 0;
  margin: 0;
}

.headline {
  text-align: right;
  color: white;
  font-size: 50px;
  background-color: rgb(56, 56, 187);
  border-radius: 0;
  border-bottom: 1px solid black;
}

.mainHead {
  padding-right: 25%;
  font-weight: bold;
  text-shadow: 1px;
}

.searchArea {
  padding-top: 10px;
  padding-left: 1.5%;
  width: 100%;

  border-bottom: 1px solid black;
}

.searchA {
  width: 30%;
}

h1 {
  font-size: 35px;
  font-weight: bold;
}
.searchHere {
  align-items: center;
  font-size: 30px;
  flex-wrap: wrap;
  width: 100%;
}

.searchBtn {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 5%;
  text-align: center;
  font-size: 25px;
  color: white;
  flex-wrap: wrap;
  background-color: rgb(78, 78, 251);
}

.weatherInfo {
  width: 40%;
  text-align: left;
  float: right;
  padding-left: 3%;
  box-sizing: border-box 10px solid black;
}

#cities {
  margin-top: 1%;
  width: 30%;
  float: left;
}

.col {
  margin-top: -1%;
  border-radius: 20px;
  border: 5px solid rgb(255, 255, 255);
  padding: 0.3%;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 25px;
  height: 50px;
  width: 200%;
  align-items: center;
  text-align: center;
  background-color: grey;
}

#forecast {
  width: 5%;
  flex: auto;
  text-align: left;
  float: left;
}

.row {
  text-align: left;
  color: white;
  background-color: rgb(25, 25, 78);
  padding: 30px;
  margin: 10px;
  float: left;
}
h3 {
  padding-bottom: 20%;
}
